<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} &bull; {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
    <link rel="import"
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap"
    async>
    <link rel="import" href="{{ "/assets/css/monokai.css" | absolute_url }}" async>
    {% seo %}
  </head>
  <body class="grid grid-rows-[1fr_auto] bg-gray-200">
    <main>
      {{ content }}
    </main>
    {% include layout/Footer.html %}
  </body>
</html>
